	
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 320px) and (min-width : 480px) {
	
	 #grid-floats {
		display: grid;
		background-color: #F5ECCE;
	 }
	 .grid-item > div:nth-child(odd){
		backgound-color:#ddd;
	 }
	 .grid-item {
		flex-basis: 100%;
	  }
	#grid-flex{
		display: flex;
		background-color: #F5ECCE;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

 	#grid-floats {
		display: grid;
		background-color: #D8F6CE;
	 }
	 .grid-item {
		flex-basis: 50%;
	  }
	#grid-flex{
		display: flex;
		background-color: #F5ECCE;
}
 }
	

    /* Medium Devices, Desktops & Large Devices, Wide Screens*/
@media only screen and (min-width : 992px) and (min-width : 1200px) {
	/*Determine Picture size*/
	.grid-item img {
		width: 280px;
		justify-content: center;
	}
    /* Grid -Floats */
	#grid-floats {
		display: grid;
		background-color: #A9A9F5;
		grid-template-columns: auto auto auto auto;
		grid-gap: 0.5rem 1rem;
		padding-left:0px;
		padding-left:10px;
		
	}

	/* li class="grid-item"*/
	
	
	#grid-floats > li:nth-child(1){
		grid-column-start: 1;
		grid-column-end: 3;
		grid-template-columns:50%;
		img {
			width:360px;
		}
	}
/* Grid Flex ------------------ */
	#grid-flex{
		display: flex;
		flex-wrap:wrap;
		background-color: #F2F2F2;
		grid-template-columns: auto auto auto auto;
		padding-left:0px;
		padding-left:10px;
		grid-gap: 0.5rem 1rem;
		
	}
	.grid-item {
		flex-basis: 24%;
	 }
	
	 #grid-flex > li:nth-child(1){
		grid-template-columns:50%;
		} 
	
}


